<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <form th:action="@{/processForm}" th:object="${customer}" method="post">
        <label for="fname">First name:</label><br>
        <input type="text" th:field="*{firstName}"><br>
        <label for="lname">Last name:</label><br>

        <input type="text" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
        <br>
        Free Pass : <span><input type="number" th:field="*{freePasses}"></span> <br>
        <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>
        <br>
        Free Pass : <span><input type="text" th:field="*{postalCode}"></span> <br>
        <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>

        Course code : <span><input type="text" th:field="*{CourseCode}"></span> <br>
        <span th:if="${#fields.hasErrors('CourseCode')}" th:errors="*{CourseCode}" class="error"></span>

        <input type="submit" value="Submit">
    </form>
</body>

</html>